@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.table-book-detail td{

  min-width: 200px;

}
.table-book-detail td:first-child{
  font-weight: bold;
}

img{
  max-width: 300px;
}
.title{
  padding: 10px 0 50px 0;
}
.spinner-row{
  height: 35px;
}
.spinner-col{
  min-height: 28px;
  background-image: url("app/catalog/spinner.gif");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position:center;
}
