<div class="col-md-8 col-md-offset-2">
  <form (ngSubmit)="saveCustomer()" #customerForm="ngForm">
    <div class="row">
      <div class="col-md-4">
        <h3>Customer</h3>
        <h4>Customer Details</h4>
      </div>
    </div>
    <div class="row">
      <div class="form-group form-row col-md-4">
        <label for="firstName">Firstname</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Firstname"
               [(ngModel)]="customer.firstName" #firstName="ngModel" required>
        <small class="text-danger" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
          <div *ngIf="firstName.errors.required">
            required value
          </div>
        </small>
      </div>

      <div class="form-group form-row col-md-4 col-md-offset-1">
        <label for="lastName">Lastname</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Lastname"
               [(ngModel)]="customer.lastName" #lastName="ngModel" required>
        <small class="text-danger" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
          <div *ngIf="lastName.errors.required">
            required value
          </div>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="form-group form-row col-md-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email"
               [(ngModel)]="customer.email"
               pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
               #email="ngModel" required>
        <small class="text-danger" *ngIf="email.errors && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required">
            required value
          </div>
          <div *ngIf="email.errors.pattern">
            invalid email address
          </div>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Credit Card</h4>
      </div>
    </div>
    <div class="row">
      <div class="form-group form-row col-md-4">
        <label for="creditCardType">Card Type</label>
        <select id="creditCardType" class="form-control" name="creditCardType" [(ngModel)]="customer.creditCard.type"
                #creditCardType="ngModel" required>
          <option *ngFor="let creditCardType of creditCardTypes" [value]="creditCardType">{{creditCardType}}</option>
        </select>
        <small class="text-danger" *ngIf="creditCardType.errors && (creditCardType.dirty || creditCardType.touched)">
          <div *ngIf="creditCardType.errors.required">
            required value
          </div>
          <div *ngIf="creditCardType.errors.pattern">
            invalid creditcard number
          </div>
        </small>
      </div>

      <div class="form-group form-row col-md-4 col-md-offset-1">
        <label for="creditCardNumber">Number</label>
        <input type="text" class="form-control" id="creditCardNumber" name="creditCardNumber" placeholder="Number"
               [(ngModel)]="customer.creditCard.number" #creditCardNumber="ngModel" pattern="([0-9]{4} ?){4}" required>
        <small class="text-danger" *ngIf="creditCardNumber.errors && (creditCardNumber.dirty || creditCardNumber.touched)">
          <div *ngIf="creditCardNumber.errors.required">
            required value
          </div>
          <div *ngIf="creditCardNumber.errors.pattern">
            credit card number is not valid
          </div>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="form-group form-row col-md-4">
        <label>Expiration Date</label>
        <input type="number" class="form-control" id="month" name="month" placeholder="Month"
               [(ngModel)]="customer.creditCard.expirationMonth" max="12" min="1" pattern="(0?[1-9]|1[0-2])"
               #month="ngModel" required>
        <small class="text-danger" *ngIf="month.errors && (month.dirty || month.touched)">
          <div *ngIf="month.errors.required">
            required value
          </div>
          <div *ngIf="month.errors.pattern">
            this is not a valid month
          </div>
        </small>
      </div>
      <div class="form-group form-row col-md-4 col-md-offset-1">
        <label></label>
        <input type="text" class="form-control" id="year" name="year" placeholder="Year"
               [(ngModel)]="customer.creditCard.expirationYear" [min]="currentYear" [max]="currentYear+10" #year="ngModel" required>
               <!--pattern="(20({{currentYearSecondLast}}[{{currentYearLast}}-9])|20({{currentYearSecondLastAndOne}}[0-{{currentYearLast}}]))"-->
        <small class="text-danger" *ngIf="year.errors && (year.dirty || year.touched)">
          <div *ngIf="year.errors.required">
            required value
          </div>
          <!--<div *ngIf="year.errors.pattern">-->
            <!--this is not a valid year-->
          <!--</div>-->
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" type="submit" [disabled]="!customerForm.form.valid">Save</button>
      </div>
    </div>
  </form>
</div>
